.form-container {
  font-family: 'Raleway', sans-serif;
}

.CategoriesCont {
  color: black;
  font-size: 42px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 80px;
  margin-bottom: 80px;
}
 
.GenderSelection {
  color: black;
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
}
 
.ArtistExperience {
  color: black;
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
}

.GenderSelection p {
  margin-bottom: 15px;
}

.ArtistExperience p {
  margin-bottom: 15px;
}

.categoriesform-container {
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
}

.nextbutton {
  margin-top: 65px;
  margin-left: 0px;
}
 
.btn.btn-secondary {
  padding: 14px 28px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}
 
.btn.btn-secondary:hover {
  padding: 14px 28px;
  background-color: black;
  color: #e812ab;
  border: 2px solid #e812ab;
}
 
.btn.btn-secondary:active {
  background-color: black;
  color: black;
}
.form-check-label {
  margin-bottom: 5px;
}

.form-check-input {
  position: unset;
  margin-top: 0px;
  margin-right: 5px;
}
